---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import image from '../assets/images/categories.jpg'

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: 'Categories',
  description: 'Categories for articles',
  image: image
}

const categories = await getCollection('category')
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero title={frontmatter.title!} description={frontmatter.description} {image} />
  </header>
  <main class="mt-8 bg-gray-100 dark:bg-gray-900">
    <div class="mx-auto px-4 max-w-7xl lg:px-8 sm:px-6">
      <div class="mx-auto pb-72 max-w-2xl lg:pb-24 sm:pb-32 lg:max-w-none">
        <div class="mt-6 space-y-12 lg:gap-x-6 lg:grid lg:grid-cols-3 lg:space-y-0">
          {
            categories.map((category) => (
              <div class="group relative">
                <div class="sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 mb-4 rounded-lg bg-purple-100 h-80 w-full relative overflow-hidden dark:bg-purple-600 group-hover:opacity-75 sm:h-64">
                  <Image
                    src={category.data.image}
                    alt={category.data.description}
                    class="h-full w-full object-cover object-center"
                    loading="lazy"
                  />
                </div>
                <h3 class="text-xs text-white tracking-tight font-medium px-3 py-1 rounded bg-purple-600 inline-block uppercase hover:bg-pink-600">
                  <a href={`${`${import.meta.env.BASE_URL}`}category/${category.id}/`}>
                    <span class="inset-0 absolute" />
                    {category.data.title}
                  </a>
                </h3>
                <p class="text-base text-gray-900 dark:text-gray-400">
                  {category.data.description}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Base>
