---
import { getCollection } from 'astro:content'

const social = await getCollection('social')
---

<div class="h-24 lg:h-16"></div>
<footer class="text-gray-400">
  <div
    class="px-4 py-1 bg-gray-950 flex flex-col w-full items-center inset-x-0 bottom-0 fixed z-20 lg:px-8 lg:py-4 lg:flex-row"
    style="border-top: 1px solid rgba(139,92,246,0.3);"
  >
    <span class="flex flex-none flex-row items-center">
      <a
        class="title-font text-white font-medium flex items-center justify-center lg:justify-start"
        href={`${import.meta.env.BASE_URL}`}
      >
        <span class="sr-only">Home</span>
      </a>
      <p
        class="text-sm text-gray-400 ml-2 py-1 pl-2"
        style="border-left: 2px solid rgba(139,92,246,0.5);"
      >
        © {new Date().getFullYear()} MIT licence
        <a
          href="https://hellotham.com"
          class="text-purple-300 ml-1 hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          Hello Tham Pty Ltd
        </a>
      </p>
    </span>
    <span class="flex flex-none flex-row items-center">
      <p
        class="text-sm text-gray-400 lg:ml-4 lg:py-1 lg:pl-4"
        style="border-left: 2px solid rgba(139,92,246,0.5);"
      >
        <a
          href={`${import.meta.env.BASE_URL}` + 'privacy'}
          class="text-purple-300 ml-1 hover:text-pink-300"
        >
          Privacy Policy
        </a>
      </p>
      <p
        class="text-sm text-gray-400 ml-4 py-1 pl-4"
        style="border-left: 2px solid rgba(139,92,246,0.5);"
      >
        <a
          href={`${import.meta.env.BASE_URL}` + 'rss.xml'}
          class="text-purple-300 ml-1 hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          RSS
        </a>
      </p>
      <p
        class="text-sm text-gray-400 ml-4 py-1 pl-4"
        style="border-left: 2px solid rgba(139,92,246,0.5);"
      >
        <a
          href={`${import.meta.env.BASE_URL}` + 'sitemap-index.xml'}
          class="text-purple-300 ml-1 hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          Sitemap
        </a>
      </p>
    </span>
    <span class="mt-2 inline-flex grow justify-center lg:ml-auto lg:mt-0 lg:justify-end">
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class="text-purple-300 ml-3 hover:text-pink-300"
              rel="noopener noreferrer"
              target="_blank"
            >
              <div class={'h-5 w-5 i-bi-' + s.data.icon} />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ''
          )
        )
      }
    </span>
  </div>
</footer>
